# Dependencies
**/node_modules/
node_modules/
.git-rewrite/
.cache/
dist/
build/
**/build/

/.pnp
.pnp.js

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.mdb
*.accdb
backend/prisma/schema.prisma
backend/prisma/*.db
prisma/*.db

# Uploads / Media local
backend/uploads/
backend/uploads/*

# Editor / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local JSON data / Mock databases
*.local.json
