PORT=5001
HOST=0.0.0.0

JWT_SECRET=cotecmar-dev-secret-change-me
JWT_EXPIRES_IN=8h

CORS_ORIGIN=https://tu-frontend.vercel.app,http://localhost:3002

DATABASE_URL="file:./prisma/cotecmar.db"
DATABASE_FILE=./cotecmar.db
UPLOADS_DIR=./uploads

CLOUDINARY_URL=

DEFAULT_ADMIN_NAME="Administrador Principal"
DEFAULT_ADMIN_EMAIL=admin@cotecmar.local
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_PHONE=
